<div class='container'>

    <% if current_user != @user %>
      <h2 class="text-secondary">
        Name：<%= @user.name %>さんの投稿一覧
        <% if current_user.following?(@user) %>
          <%= link_to "フォロー外す", user_relationships_path(@user.id), method: :delete, class: "btn btn-info" %>
        <% else %>
          <%= link_to "フォローする", user_relationships_path(@user.id), method: :post, class: "btn btn-success" %>
        <% end %>
      </h2>
    <% else %>
      <%= form_with model: @user do |f| %>
        <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"ニックネーム"%>
        <%= f.submit "ニックネームを変更する" %>
      <% end %>
      <h2 class="text-secondary">投稿履歴</h2>
    <% end %>

  <p class="text-secondary">(全<%= @items.count %>件)</p>
  <div class='row m-5'>
    <% @items.each do |item| %>
      <div class="col-md-3">
        <div class= 'card mb-4 border-0' style="background-color: #fffafa width: 18rem;">
          <div class="text-center">
            <%= link_to item_path(item.id) do %>
              <%= image_tag item.image, size: "200x200" %>
            <% end %>
            <p class="text-center">
              店名：<%= item.shop_name %>
              <br><%= item.address %>
              <br>コメント数<%= item.item_comments.count %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>