<div class='container'>
  <h2 class="text-secondary">投稿一覧</h2><p class="text-secondary">(全<%= @items.count %>件)</p>
  <div class='row m-5'>
    <% @items.each do |item| %>
      <div class="col-md-3">
        <div class= 'card mb-4 border-0' style="background-color: #fffafa width: 18rem;">
          <div class="text-center">
            <%= link_to item_path(item.id) do %>
              <%= image_tag item.image, size: "200x200" %>
            <% end %>
            <p class="text-center">
              店名：<%= item.shop_name %>
              <br><%= item.address %>
              <br>コメント件数：<%= item.item_comments.count %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
