<h2>店名</h2>
<p><%= @item.shop_name %></p>

<h2>本文</h2>
<p><%= @item.address %></p>
<%= image_tag @item.image, size: "200x200" %>
<% if @item.user == current_user %>
  <%= link_to "編集", edit_item_path(@item.id) %>
  <%= link_to "削除", item_path(@item), method: :delete %>
<% end %>

<% if @item.favorited_by?(current_user) %>
  <p>
    <%= link_to item_favorites_path(@item), method: :delete do %>
      ♥<%= @item.favorites.count %> いいね
    <% end %>
  </p>
  <% else %>
  <p>
    <%= link_to item_favorites_path(@item), method: :post do %>
      ♡<%= @item.favorites.count %> いいね
    <% end %>
  </p>
<% end %>

<% if @item.user.following?(current_user) %>
  <%= link_to "フォロー外す", user_relationships_path(@item.user), method: :delete %>
<% else %>
  <%= link_to "フォローする", user_relationships_path(@item.user), method: :post %>
<% end %>

<div>
  <p>コメント件数：<%= @item.item_comments.count %></p>
  <% @item.item_comments.each do |item_comment| %>

    <%= item_comment.user.name %>
    <%= item_comment.created_at.strftime('%Y/%m/%d') %><%= item_comment.comment %>
    <% if item_comment.user == current_user %>
      <%= link_to "削除", item_item_comment_path(item_comment.item, item_comment), method: :delete %>
    <% end %>
  <% end %>
</div>

<div>
  <%= form_with model: [@item, @item_comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>