<div class= "container">
  <div class= "row">
    <h3 class="col">ラーメン詳細</h3>
  </div>
  <div class= "row">
    <div class= "col-12 col-md-5">
      <%= image_tag @item.image, width: "100%" %>
    </div>
    <div class= "col">
      <table class='table table-borderless'>
        <tbody>
          <tr>
            <td class="text-nowrap">ユーザー</td>
            <td>
              <%= link_to user_path(@item.user_id) do %>
                <%= @item.user.name %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td class="text-nowrap">店名</td>
            <td><%= @item.shop_name %></td>
          </tr>
          <tr>
            <td class="text-nowrap">住所</td>
            <td><%= @item.address %></td>
          </tr>
          <tr>
            <td>
              <%= render "favorites/btn", item: @item %>
              <%= render "relationships/btn", user: @item.user %>
                <% if @item.user == current_user %>
                  <%= link_to "編集", edit_item_path(@item.id), class: "btn btn-sm btn-info" %>
                  <%= link_to "削除", item_path(@item), method: :delete, class: "btn btn-sm btn-danger" %>
                <% end %>

            </td>
          </tr>
          <tr>
            <td>コメント件数：<%= @item.item_comments.count %></td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
  <div class= "row">
    <div class="col-12 col-md-6">
      <tr>
        <td><br>
          <% @item.item_comments.each do |item_comment| %>
            <br><%= item_comment.user.name %>
            <br><%= item_comment.comment %>
            <% if item_comment.user == current_user %>
              <%= link_to "削除", item_item_comment_path(item_comment.item, item_comment), method: :delete,class: "btn btn-sm btn-danger" %>
            <% end %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>
          <%= form_with model: [@item, @item_comment] do |f| %>
            <br><%= f.text_area :comment, rows: '5', placeholder: "コメントをここに", class: "form-control" %>
            <br><%= f.submit "コメントする", class: "btn btn-sm btn-success" %>
          <% end %>
        </td>
      </tr>
    </div>
  </div>
</div>